<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>All users</title>
    <th:block th:insert="~{/fragments/head}"></th:block>
</head>
<body>

<div>
    <th:block th:insert="~{/fragments/navigation}"></th:block>
</div>


<div class="container" style="background-color: #d54b43; margin-top: 250px; border-radius: 35px; width: 30%;">

    <h1 class="justify-content-center" style="justify-content: center; margin-bottom: 20px; margin-top: 20px; text-align: center; color: white; font-weight:inherit;">
        Current order doesn't exist. Enter <a th:href="@{/}">here</a> to return to the home page.</h1>
</div>

<th:block th:insert="~{fragments/footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>