nav .navbar-brand{
    margin-left: 30px;
    width: 10%;
}

nav .pizza-logo{
    width: 50%;
    height:80%;
}

nav .nav-link {
    margin-right: 135px;
    margin-left:0;
    margin-top: 0;
    height: 40px;
    padding-bottom: 24px;
    width:100%;
    color:white;
}
nav .nav-link:hover{
    color:white;
    background-color: rgb(234, 153, 153);
    opacity: 0.8;
    border-radius: 25px;
}

nav .nav-link:focus{
    color: white;
}

nav .dropdown-menu{
    background-color:#d54b43;
}

nav .dropdown-item:hover{
    color:white;
    background-color: rgb(234, 153, 153);
    opacity: 0.8;
    border-radius: 25px;
}

nav .nav-item{
    font-weight: 450;
    font-size:17px;
}

nav .navbar-nav {
    margin-right: 30px;
    margin-left:0;
    text-align: center;
    font-size: 70px;
}

nav{
    height: 60px;
    background-color: #d54b43;
}

footer {
    width: 80%;
    position:fixed;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    bottom: 0;
}