body{
    background-color: rgb(234, 153, 153);
}

.profile-form{
    margin-top: 200px;
}

.main-card{
    width: 100%;
}

.edit-button-a{
    background-color: white;
    border-color: white;
    color:#2c504a;
    border-radius: 25px;
    font-size: large;
    width: 50%;
}

.edit-button-a:hover{
    background-color:#2c504a;
    color:white;
    transition: all 2000ms ease;
}