<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Order food</title>
  <th:block th:insert="~{/fragments/head}"></th:block>
</head>

<body>

<div>
  <th:block th:insert="~{/fragments/navigation}"></th:block>
</div>

<div>
  <h1 th:text="${#strings.capitalize(category)}" class="category-heading text-center text-white"></h1>
</div>


<table id="dtBasicExample" class="products-table table-striped table-bordered table-sm">
  <thead>
  <tr>
    <th class="th-sm">Name

    </th>
    <th class="th-sm">Price

    </th>
    <th class="th-sm" th:if="${#strings.equals(category.name(),'drink')}">Quantity
    </th>
    <th class="th-sm" th:if="${!#strings.equals(category.name(),'drink')}">Description
    </th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="food : ${foods}" th:if="${!#strings.equals(category.name(),'drink')}">
    <td th:text="*{food.name}">Tiger Nixon</td>
    <td th:text="*{food.price}">System Architect</td>
    <td th:text="*{food.description}">Edinburgh</td>
  </tr>
  <tr th:each="drink : ${drinks}" th:if="${#strings.equals(category.name(),'drink')}">
    <td th:text="*{drink.name}">Tiger Nixon</td>
    <td th:text="*{drink.price}">System Architect</td>
    <td th:text="*{drink.quantity}">Edinburgh</td>
  </tr>
</table>

<!--<nav aria-label="...">-->
<!--  <ul class="pagination">-->
<!--    <li class="page-item disabled">-->
<!--      <span class="page-link">Previous</span>-->
<!--    </li>-->
<!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--    <li class="page-item active" aria-current="page">-->
<!--      <span class="page-link">2</span>-->
<!--    </li>-->
<!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#">Next</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->

<th:block th:insert="~{fragments/footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>