<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>Order food</title>
  <th:block th:insert="~{/fragments/head}"></th:block>
</head>

<body>

<div>
  <th:block th:insert="~{/fragments/navigation}"></th:block>
</div>

<div>
  <h1 th:text="${#strings.capitalize(category)}" class="category-heading text-center text-white"></h1>
</div>


<table id="dtBasicExample" class="products-table">
  <tbody>
  <tr class="row mb-2 mt-2" th:each="food : ${foods}" th:if="${!#strings.equals(category,'drink')}">
    <td th:text="*{food.name}" style="font-weight: bold">Tiger Nixon</td>
    <td th:text="|*{food.price} &euro;|">System Architect</td>
    <td th:text="*{food.description}">Edinburgh</td>
    <td sec:authorize="isAuthenticated()" style="margin-bottom: 10px;">
      <button type="submit" class="order-button">Add to cart</button>
    </td>
  </tr>
  <tr  class="row mb-2 mt-2" th:each="drink : ${drinks}" th:if="${#strings.equals(category,'drink')}">
    <td th:text="*{drink.name}" style="font-weight: bold">Tiger Nixon</td>
    <td th:text="|*{drink.price} &euro;|"></td>
    <td th:text="|*{drink.quantity} L.|">Edinburgh</td>
    <td sec:authorize="isAuthenticated()" style="margin-bottom: 10px;">
      <button type="submit" class="order-button">Add to cart</button>
    </td>
  </tr>
  </tbody>
</table>

<th:block th:insert="~{fragments/footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>