<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>Order food</title>
  <th:block th:insert="~{/fragments/head}"></th:block>
</head>

<body>

<div>
  <th:block th:insert="~{/fragments/navigation}"></th:block>
</div>

<div>
  <h1 th:text="${#strings.capitalize(category)}" class="category-heading text-center text-white"></h1>
</div>


<table id="dtBasicExample" class="products-table">
  <tbody>
  <tr  class="row mb-2 mt-2" th:each="product : ${products}">
    <td th:text="*{product.name}" style="font-weight: bold">Tiger Nixon</td>
    <td th:text="|*{product.price} &euro;|"></td>
    <td th:text="|*{product.description}|">Edinburgh</td>
    <td sec:authorize="isAuthenticated() && !hasAnyAuthority('ROLE_ADMIN','ROLE_WORKER')" style="margin-bottom:10px"><a class="order-button text-center text-decoration-none"
                                      th:href="@{/cart/add/{id}(id=${product.id})}"
    >Add to cart</a></td>
    <td sec:authorize="hasAuthority('ROLE_ADMIN')" style="margin-bottom:10px">
      <a class="order-button text-center text-decoration-none"
         th:href="@{/products/edit/{id}(id=${product.id})}"
      >Edit product</a>
     </td>
    <td sec:authorize="hasAuthority('ROLE_ADMIN')" style="margin-bottom:10px">
      <form th:method="delete"
            th:action="@{/products/delete/{id}(id=${product.id})}"
            th:object="${product}">
        <button class="order-button text-center text-decoration-none"
                type="submit" style="border-color: white"
        >Remove product</button>

      </form>
    </td>
  </tr>
  </tbody>
</table>

<th:block th:insert="~{fragments/footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>