<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Closed</title>
    <th:block th:insert="~{/fragments/head}"></th:block>
</head>

<body style="background-color: white">

<div class="container"
     style="background-color: #49857b;
margin-top: 250px;
border-radius: 35px;
width: 50%;
padding-left: 10px;
padding-right: 10px;
font-family: Georgia, serif;">

    <h1 class="justify-content-center"
        style="justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        color: white;
        font-weight:inherit;">

        We're currently closed. The working time is from 11AM to 10PM.
        Click <a th:href="@{/}" style="color: #2c504a">here</a> to return to the home page.</h1>

</div>

<th:block th:insert="~{fragments/footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>