<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Order food</title>
  <th:block th:insert="~{/fragments/head}"></th:block>
</head>

<body>

<div>
  <th:block th:insert="~{/fragments/navigation}"></th:block>
</div>

<div class="container">

  <div class="row">
    <div class="col">
      <div class="card">
        <img src="/images/pizza.png" class="card-img" alt="pizza image">
        <h5 class="card-title mb-1 mt-2">Pizza</h5>
        <a th:href="@{/menu/{category}(category = 'pizza')}"
        class="navigate-to mb-1">Explore pizzas</a>
      </div>
    </div>
    <div class="col">
      <div class="card">

        <img src="/images/tortilla.png" class="card-img" alt="pizza image">

        <h5 class="card-title mb-1 mt-4">Tortilla</h5>
        <a th:href="@{/menu/{category}(category = 'tortilla')}" class="navigate-to mb-1">Explore tortillas</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/images/burger.png" class="card-img" alt="pizza image">
        <h5 class="card-title mb-1 mt-2">Burgers</h5>
        <a th:href="@{/menu/{category}(category = 'burger')}" class="navigate-to mb-1">Explore burgers</a>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <div class="card">
        <img src="/images/fries.png" class="card-img" alt="pizza image">
        <h5 class="card-title mb-1 mt-2">French fries</h5>
        <a th:href="@{/menu/{category}(category = 'fries')}" class="navigate-to mb-1">Explore french fries</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/images/dessert.png" class="card-img mt-2 pb-0" alt="pizza image">
        <h5 class="card-title mb-1 mt-4">Deserts</h5>
        <a th:href="@{/menu/{category}(category = 'dessert')}" class="navigate-to mb-1">Explore deserts</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/images/Kola-zero.png" class="card-img" alt="pizza image">
        <h5 class="card-title mb-1 mt-4">Drinks</h5>
        <a th:href="@{/menu/{category}(category = 'drink')}" class="navigate-to mb-1">Explore drinks</a>
      </div>
    </div>
  </div>



</div>


<th:block th:insert="~{fragments/footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>