<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Register</title>
  <th:block th:insert="~{/fragments/head}"></th:block>
</head>

<body style="font-family: Georgia, serif;">

<div>
  <th:block th:insert="~{/fragments/navigation}"></th:block>
</div>

<div class="col-5 float-start mx-lg-5">
  <img alt="pizza delivery image" src="/images/pizzaDelivery.png" class="delivery-image">
</div>

<div class="col-5 float-end">

  <form th:method="POST"
        th:action="@{/users/register}"
        th:object="${registerDto}"
        class="main-form mx-auto col-md-12 mt-5 d-flex flex-column my-lg-5">

    <h2 class="text-center text-white mt-3">Register User</h2>

    <div class="row mt-1 mb-0 m-2">

      <div class="col-md-6">
        <label for="firstName" class="form-label text-white">First name</label>
        <input type="text"
               th:field="*{firstName}"
               th:errorclass="is-invalid"
               class="form-control"
               id="firstName"
               placeholder="First name">
        <div class="invalid-feedback errors-register alert-danger"
             th:each="err :${#fields.errors('firstName')}"
             th:text="${err}"/>
      </div>

      <div class="col-md-6">
        <label for="lastName" class="form-label text-white">Last name</label>
        <input type="text"
               th:field="*{lastName}"
               th:errorclass="is-invalid"
               class="form-control"
               id="lastName"
               placeholder="Last name">
        <div class="invalid-feedback errors-register alert-danger" th:each="err :${#fields.errors('lastName')}"
             th:text="${err}"/>
      </div>
    </div>

    <div class="row mt-1 mb-0  m-2">
      <div class="col-md-6">
        <label for="username" class="form-label text-white">Username</label>
        <input type="text"
               th:field="*{username}"
               th:errorclass="is-invalid"
               class="form-control"
               id="username"
               placeholder="Ex: ivaylo5@">
        <div class="invalid-feedback errors-register alert-danger" th:each="err :${#fields.errors('username')}"
             th:text="${err}"/>
      </div>

      <div class="col-md-6">
        <label for="email" class="form-label text-white">Email</label>
        <input type="email"
               th:field="*{email}"
               th:errorclass="is-invalid"
               class="form-control"
               id="email"
               placeholder="Enter email">
        <div class="invalid-feedback errors-register alert-danger" th:each="err :${#fields.errors('email')}"
             th:text="${err}"/>
      </div>
    </div>

    <div class="row mt-1  mb-0  m-2">
      <div class="col-md-6">
        <label for="password" class="form-label text-white">Password</label>
        <input type="password"
               th:field="*{password}"
               th:errorclass="is-invalid"
               class="form-control"
               id="password"
               placeholder="Enter password">
        <div class="invalid-feedback errors-register alert-danger" th:each="err :${#fields.errors('password')}"
             th:text="${err}"/>
      </div>

      <div class="col-md-6">
        <label for="confirmPassword" class="form-label text-white"> Confirm Password</label>
        <input type="password"
               th:field="*{confirmPassword}"
               th:errorclass="is-invalid"
               class="form-control" id="confirmPassword" placeholder="Confirm password">
        <div class="invalid-feedback errors-register alert-danger" th:each="err :${#fields.errors('confirmPassword')}"
             th:text="${err}"/>
      </div>
    </div>

    <div class="row mt-1  mb-0 m-2">
      <div class="col-md-9">
        <label for="phoneNumber" class="form-label text-white">Phone number</label>
        <input type="text"
               th:field="*{phoneNumber}"
               th:errorclass="is-invalid"
               class="form-control"
               id="phoneNumber"
               placeholder="Ex: 0877777777">
        <div class="invalid-feedback errors-register alert-danger" th:each="err :${#fields.errors('phoneNumber')}"
             th:text="${err}"/>
      </div>

      <div class="col-md-3">
        <label for="age" class="form-label text-white">Age</label>
        <input type="number"
               th:field="*{age}"
               th:errorclass="is-invalid"
               class="form-control"
               id="age"
               min="5"
               max="100"
               step="1"
               placeholder="Age">
        <div class="invalid-feedback errors-register alert-danger" th:each="err :${#fields.errors('age')}"
             th:text="${err}"/>
      </div>

      <div class="col text-center">
        <label for="gender" class="form-label float-start text-white">Gender</label>
        <select id="gender"
                th:field="*{gender}"
                th:errorclass="is-invalid"
                class="form-select text-secondary">
          <option value="">Select gender</option>
          <option th:each="g:${T(bg.softuni.fooddelivery.domain.enums.GenderEnum).values()}"
                  th:text="${g.name()}"
                  th:value="${g}">Male</option>

        </select>
        <small class="invalid-feedback errors-register alert-danger">Gender is required.</small>
      </div>

      <div class="register-12 text-center mt-3 mb-3">
        <button type="submit" class="btn">Register</button>
      </div>

    </div>
  </form>

</div>

<th:block th:insert="~{fragments/footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>